.twrap{
  position: relative;
  height: 9.3rem;
  z-index: 30;
  background: #fff;
}
.twrap .tdiv:not(:first-child){
  display: none;
}
.commentVideo{
  height: 9.27rem;
}
.video-player {
  height: 100%;
}
.user-p{
  position: absolute;
  top: -.18rem;
  left: 0;
  width: 100%;
  height: 1.68rem;
  /*  background: -webkit-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.0)); !* Safari 5.1 - 6.0 *!
    background: -o-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.0)); !* Opera 11.1 - 12.0 *!
    background: -moz-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.0)); !* Firefox 3.6 - 15 *!
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.0)); !* 标准的语法 *!*/
  display:block;zoom:1;
  padding-left: .18rem;
}
.userimg{
  width: 1.05rem;
  height: 1.05rem;
  border-radius: 50%;
  border: 0.05rem solid rgba(0,0,0,.3);
}
.focus{
  position: absolute;
  top: .7rem;
  left: 1rem;
  width: .34rem;
  height: .34rem;
}
.usern{
  margin-top: .5rem;
  margin-left: .15rem;
  font-size: .28rem;
}
.tlist{
  position: absolute;
  right:.2rem;
  top: 4.45rem;
  width: .6rem;
  height: 1rem;
  font-size: .22rem;
  text-align: center;
}
.tlist img{
  width: .44rem;
  height: .42rem;
  margin: .15rem .1rem;
}
.tlist p:last-child{
  margin-top: .45rem;
}
.actlist{
  position: absolute;
  bottom: .1rem;
  left: 0;
  width: 100%;
  height: 1.65rem;
  font-size: .28rem;
  /* background: -webkit-linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.0)); !* Safari 5.1 - 6.0 *!
   background: -o-linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.0)); !* Opera 11.1 - 12.0 *!
   background: -moz-linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.0)); !* Firefox 3.6 - 15 *!
   background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.0)); !* 标准的语法 *!*/
  display:block;zoom:1;
}
.actlist p{padding-left: .34rem;}
.actp{
  margin-top: .25rem;
}
.acting{font-size: .3rem;}
.actend{font-size: .2rem;}
.try{
  position: absolute;
  left: 2.46rem;
  bottom:.1rem;
  width: 2rem;
  height: .64rem;
}
